<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
</head>

<body>

    {{template "header"}}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12 col-md-5">
                <h3>New Post</h3>
                <fieldset>
                    <form id="new-publication">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title"
                                placeholder="Enter the title of your post" required />
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea class="form-control" id="content" name="content"
                                placeholder="Enter the content of your post" required></textarea>
                        </div>

                        <button class="btn btn-primary my-2" type="submit">
                            Post
                        </button>
                    </form>
                </fieldset>
            </div>
            <div class="col-12 col-md-7">
                {{range .Publications}}
                <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-4 fw-bold">{{ .Title }}</h1>
                        <p class="col-md-8 fs-4">{{ .Content }}</p>
                        <a href="#">{{ .AuthorNick }} - {{ .CreatedIn }}</a>
                        <hr class="my-4">
                        {{ if (eq .AuthorID $.UserID) }}
                        <p>author</p>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>

    {{ template "footer" }}
    {{ template "scripts" }}
    <script src="/assets/js/publications.js"></script>
</body>

</html>