<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Update Password </title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    {{template "header"}}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Update Password</h3>
                <form id="update-password">
                    <div>
                        <label class="py-1" for="current">Current Password</label>
                        <input class="form-control my-1" type="password" name="current" id="current" placeholder="Enter your current password" required>
                    </div>
                    <div>
                        <label class="py-1" for="new">New Password</label>
                        <input class="form-control my-1" type="password" name="new" id="new" placeholder="Enter your new password" required>
                    </div>
                    <div>
                        <label class="py-1" for="confirm">Confirm New Password</label>
                        <input class="form-control my-1" type="password" name="confirm" id="confirm" placeholder="Confirm your new password" required>
                    </div>
                    <button type="submit" class="btn btn-info my-2">Uptade Password</button>
                </form>
            </div>
        </div>
    </div>

    {{ template "footer" }}
    {{ template "scripts" }}
    <script src="/assets/js/user.js"></script>
</body>

</html>